#
# Dev dependencies
#
alabaster==0.7.12
astroid==2.11.4
atomicwrites==1.4.0; (sys_platform == "win32")
autopep8==1.6.0
bandit==1.7.4
black==21.12b0
coverage[toml]==6.3.2
dill==0.3.4
docutils==0.17.1
flake8==4.0.1
gitdb==4.0.9
gitpython==3.1.27
imagesize==1.3.0
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
pathspec==0.9.0
pbr==5.8.1
platformdirs==2.5.2
pluggy==1.0.0
pockets==0.9.1
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylint==2.13.8
pytest==6.2.5
pytest-cov==3.0.0
smmap==5.0.0
snowballstemmer==2.2.0
sphinx==5.0.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stevedore==3.5.0
toml==0.10.2
yapf==0.31.0
